$bg-color:#201C4E;
$main-color:#110E3D;
$second-color:#383262;

$second-color-bright:#4b4672;

$main-text-color:#fff;
$second-text-color:#9694AC;

$accent-color:#524AAA;
$accent-color-bright: #5e55c3;

$yellow-accent-color:#FECC69;
$red-accent-color:#FF889C;
$green-accent-color:#AED08C;

